In [4]:
import pandas as pd

# Load dataset (gantilah dengan path yang sesuai)
df = pd.read_csv('Data Scientist - Assignment.csv')

df_fico_zero = df[df['FICO Score'] >= 300]
print(df_fico_zero.shape)
print(df_fico_zero)

(52955, 23)
       UniqueID  Loan To Value  Branch ID  Age Employment Type DisbursalDate  \
0        537409          73.23         67   33   Self employed    26/09/2018
1        624493          88.48         67   25   Self employed    26/10/2018
2        518279          89.66         67   28   Self employed    19/09/2018
4        490213          89.56         67   27   Self employed    05/09/2018
5        510980          86.95         67   50        Salaried    16/09/2018
...         ...            ...        ...  ...             ...           ...
59467    509187          66.98        254   44             NaN    15/09/2018
59471    640581          77.97        254   32             NaN    30/10/2018
59473    473780          65.99        254   33             NaN    29/08/2018
59474    617679          67.21        254   31             NaN    25/10/2018
59476    563730          75.01        254   28             NaN    08/10/2018

       State_ID     State  Employee_code_ID  Mobile Avl Flag  ...  \
0           NaN    Nevada              1998                1  ...
1           NaN    Nevada              1998                1  ...
2           NaN    Nevada              1998                1  ...
4           NaN    Nevada              1998                1  ...
5           NaN    Nevada              1998                1  ...
...         ...       ...               ...              ...  ...
59467       NaN  Colorado              1998                1  ...
59471       NaN  Colorado              1998                1  ...
59473       NaN  Colorado              1998                1  ...
59474       NaN  Colorado              1998                1  ...
59476       NaN  Colorado              1998                1  ...

       Number of Active Accounts  Number of Overdue Accounts  \
0                            1.0                           1
1                            0.0                           0
2                            0.0                           0
4                            1.0                           0
5                            0.0                           0
...                          ...                         ...
59467                        NaN                           0
59471                        NaN                           0
59473                        NaN                           0
59474                        NaN                           0
59476                        NaN                           0

       Current Balance Amount  Sanctioned Amount  Disbursed Amount  \
0                       27600              50200             50200
1                           0                  0                 0
2                           0                  0                 0
4                         -41             365384            365384
5                           0                  0                 0
...                       ...                ...               ...
59467                   88751             117201            117201
59471                   54760                  0                 0
59473                  155000             225000            225000
59474                   22779              30000             30000
59476                   71185             110206            110206

       Instalment Amount  Number of Accounts Opened Last 6 Months  \
0                   1991                                        0
1                     31                                        0
2                   1347                                        0
4                      0                                        0
5                   2608                                        0
...                  ...                                      ...
59467              13827                                        1
59471                  0                                        0
59473                  0                                        0
59474               1600                                        0
59476               7805                                        3

       Number of Delinquencies Last 6 Months  Average Account Age  \
0                                          1                   13
1                                          0                    8
2                                          0                   21
4                                          0                   56
5                                          0                   19
...                                      ...                  ...
59467                                      0                   12
59471                                      0                   21
59473                                      0                    1
59474                                      0                    9
59476                                      0                    5

       Number of Inquiries
0                        0
1                        1
2                        0
4                        1
5                        0
...                    ...
59467                    0
59471                    0
59473                    0
59474                    0
59476                    7

[52955 rows x 23 columns]